-- CreateTable
CREATE TABLE `User` (
    `id` VARCHAR(191) NOT NULL,
    `nama` VARCHAR(191) NOT NULL,
    `email` VARCHAR(191) NOT NULL,
    `role` VARCHAR(191) NOT NULL DEFAULT 'guru',
    `sisa_kuota` INTEGER NOT NULL DEFAULT 100,
    `fotoProfile` VARCHAR(191) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    UNIQUE INDEX `User_email_key`(`email`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Dokumen` (
    `id` VARCHAR(191) NOT NULL,
    `id_user` VARCHAR(191) NOT NULL,
    `sumber` VARCHAR(191) NULL,
    `tipe` VARCHAR(191) NOT NULL,
    `fase` VARCHAR(191) NULL,
    `mapel` VARCHAR(191) NULL,
    `topik` TEXT NULL,
    `konten_ai` LONGTEXT NOT NULL,
    `namaSekolah` VARCHAR(191) NULL,
    `kotaSekolah` VARCHAR(191) NULL,
    `namaKepsek` VARCHAR(191) NULL,
    `nipKepsek` VARCHAR(191) NULL,
    `namaGuru` VARCHAR(191) NULL,
    `nipGuru` VARCHAR(191) NULL,
    `dibuat_pada` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `TugasKelas` (
    `id` VARCHAR(191) NOT NULL,
    `id_guru` VARCHAR(191) NOT NULL,
    `judul` VARCHAR(191) NOT NULL,
    `mapel` VARCHAR(191) NOT NULL,
    `kelas` VARCHAR(191) NOT NULL,
    `deadline` VARCHAR(191) NULL,
    `konten_soal` LONGTEXT NOT NULL,
    `status` VARCHAR(191) NOT NULL DEFAULT 'Aktif',
    `dibuat_pada` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `SubmisiSiswa` (
    `id` VARCHAR(191) NOT NULL,
    `id_tugas` VARCHAR(191) NOT NULL,
    `uid_siswa` VARCHAR(191) NOT NULL,
    `nama_siswa` VARCHAR(191) NOT NULL,
    `kelas` VARCHAR(191) NOT NULL,
    `status` VARCHAR(191) NOT NULL DEFAULT 'Belum Kumpul',
    `nilai` INTEGER NULL,
    `jawaban_teks` TEXT NULL,
    `feedback_ai` TEXT NULL,
    `catatan_guru` TEXT NULL,
    `waktu_kumpul` DATETIME(3) NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Kurikulum` (
    `id` VARCHAR(191) NOT NULL,
    `mapel` VARCHAR(191) NOT NULL,
    `fase` VARCHAR(191) NOT NULL,
    `konten` TEXT NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `KurikulumPrompt` (
    `id` VARCHAR(191) NOT NULL,
    `prompt` TEXT NOT NULL,
    `updatedAt` DATETIME(3) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ApiKey` (
    `id` VARCHAR(191) NOT NULL,
    `name` VARCHAR(191) NOT NULL,
    `value` TEXT NOT NULL,
    `isActive` BOOLEAN NOT NULL DEFAULT false,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Notification` (
    `id` VARCHAR(191) NOT NULL,
    `userId` VARCHAR(191) NOT NULL,
    `title` VARCHAR(191) NOT NULL,
    `message` TEXT NOT NULL,
    `type` VARCHAR(191) NOT NULL DEFAULT 'system',
    `isRead` BOOLEAN NOT NULL DEFAULT false,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `Dokumen` ADD CONSTRAINT `Dokumen_id_user_fkey` FOREIGN KEY (`id_user`) REFERENCES `User`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `TugasKelas` ADD CONSTRAINT `TugasKelas_id_guru_fkey` FOREIGN KEY (`id_guru`) REFERENCES `User`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `SubmisiSiswa` ADD CONSTRAINT `SubmisiSiswa_id_tugas_fkey` FOREIGN KEY (`id_tugas`) REFERENCES `TugasKelas`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

